
.templateContainer{
    margin: 5% 0;
}
.templateContainer > .searchInput_Container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;   
}

.templateContainer > .searchInput_Container input{
    background-color: white;
    border: 2px solid black;
    border-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 18px;
    padding: 15px;
    height: 30px;
    width: 300px;
}

.templateContainer .template_Container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    
    flex-flow: row wrap; /* Responsive images wrap in row*/
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-around;
    
}
.templateContainer .template_Container .template{
    background-color: whitesmoke;
    margin: 30px;
    padding: 10px 20px;
    border: 2px solid black;

}
.templateContainer .template_Container .template img{
    height: 200px;
}

.extra-content{
    color: rgb(18, 30, 55);
    font-weight: 500;
    width: 200px;
  }

  .read-more-link{
    color: blueviolet;
    text-decoration: underline;
    letter-spacing: 1px;
    cursor: pointer;
  }